.wrapper {
  @apply w-11/12 mx-auto;
}

.btn-1 {
  @apply bg-gray-900 text-white px-4 py-2.5 rounded-md mt-4 flex items-center justify-center gap-2 mx-auto lg:mx-0 min-w-[120px] lg:min-w-[180px] text-sm lg:text-base;
}

.btn-2 {
  @apply w-fit border-2 border-gray-900 p-1.5 rounded-md flex justify-center items-center mt-6 font-semibold text-sm lg:text-base;
}
.btn-3 {
  @apply text-xs flex items-center flex-col active:translate-y-px relative;
  span.badge {
    /* @apply absolute -top-1 -right-1 bg-primary rounded-full w-2 h-2 block; */
    @apply block absolute -top-4 -right-3 px-1 text-white text-[10px] bg-primary py-[1px];
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3),
      0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3),
      0 1px 1px rgba(0, 0, 0, 0.08);
  }
  span.badge2 {
    @apply block absolute -top-4 -right-1 px-1 text-white text-[10px] bg-primary py-[1px];
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3),
      0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3),
      0 1px 1px rgba(0, 0, 0, 0.08);
  }
}
